
  :root {
    --navbar-cover-mobile: 225px;
    --navbar-cover-screen: 60px;
    --navbar-height: 51px;
  }

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1, h2 {
    color: #dd507b;
}

/* start of nav bar */
.navbar {
    background-color: #efcfe3;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--navbar-height);
}

.navbar-ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 20px;

    margin-block-start: 0;
    margin-block-end: 0;
}

.navbar-li {
    display: inline;
    padding: 14px 18px;
}

li a {
    display: inline;
    color: white;
    text-align: center;
    text-decoration: none;
}
 
li a:focus {
    border-bottom: 1px solid;
    background: #BAE498;
}

li a:hover {
    border-bottom: 2px solid #dd507b;
    background-color: #ea9ab2;
    transition: 0.3s;
}
  
li a:active {
    background-color: #ea9ab2;
}

#active-page {
    background-color: #dd507b;
}

/* end of nav bar */

.italic {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

table {
    width: 100%;
    border-spacing: 5px;
}

div {
    margin-bottom: 5px;
}


@media(max-width: 576px) {      /* for mobile */
    .content {
        margin-top: var(--navbar-cover-mobile);
        margin-left: 10px;
        margin-right: 10px;
    }

    .navbar {
        background-color: #efcfe3;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: var(--navbar-cover-mobile);
    }
    
    .navbar-ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 15px;
        
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 100%;
    }

    li a {
        display: block;
        color: white;
        text-align: center;
        text-decoration: none;
    }
}

@media (min-width: 576px) {
    .content {
        margin-top: var(--navbar-cover-screen);
        margin-left: 20px;
        margin-right: 20px;
    }
}
