ul {
    background-color: #efcfe3;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 20px;

    margin-block-start: 0;
    margin-block-end: 0;
}

li {
    display: inline;
    padding: 14px 14px;
}

#title {
    font-size: 25px;
    font-style: italic;
}

li a {
    color: white;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
}

li a:hover:active {
    background-color: #ea9ab2;
}


.container {
    margin-top: 60px;
}
