ul {
    background-color: #efcfe3;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 20px;

    margin-block-start: 0;
    margin-block-end: 0;
}

li {
    display: inline;
    padding: 14px 14px;
}

#title {
    font-size: 25px;
    font-style: italic;
}

/* https://developer.mozilla.org/en-US/docs/Learn/CSS/Styling_text/Styling_links */
li a {
    color: white;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
}

li a:visited {
    background-color: #9a78f7;
}

li a:hover {
    border-bottom: 1px solid;
    background-color: #ea9ab2;
}

li a:active {
    border-bottom: 1px solid;
    background-color: #ea9ab2;
}

.container {
    margin-top: 60px;
}
