body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.navbar {
    background-color: #efcfe3;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 51px;
}

.navbar-ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 20px;

    margin-block-start: 0;
    margin-block-end: 0;
}

.navbar-li {
    display: inline;
    padding: 14px 18px;
}

li a {
    display: inline;
    color: white;
    text-align: center;
    /* padding: 14px 15px; */
    text-decoration: none;
}

#title {
    font-style: italic;
}

 
li a:focus {
    border-bottom: 1px solid;
    background: #BAE498;
}

li a:hover {
    border-bottom: 2px solid #dd507b;
    background-color: #ea9ab2;
    transition: 0.3s;
}
  
li a:active {
    background-color: #ea9ab2;
}

#active-page {
    background-color: #dd507b;
}

.container {
    margin-top: 60px;
}

.italic {
    font-style: italic;
}

.bold {
    font-style: bold;
}


@media(max-width: 650px) {      /* for mobile */
    .navbar {
        background-color: #efcfe3;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 225px;
    }
    
    .navbar-ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 15px;
        
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 100%;
    }

    li a {
        display: block;
        color: white;
        text-align: center;
        text-decoration: none;
    }

    .container {
        margin-top: 225px;
    }

    table {
        width: 100%;
    }
    
}

@media(min-width: 650px) {
    table {
        width: 100%;
    }
}

@media(min-width: 800px) {
    table {
        width: 80%;
    }
}

table {
    border-spacing: 10px;
}

.contact-info-table {
    margin: 0 auto;
}

img {
    /* width: 300px; */
    max-width:30%;
    height:auto;
}

div {
    margin-bottom: 5px;
}

.project-span {
    margin-left: 2%;
    margin-right: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-style: italic;
    font-size: large;
}