:root {
    --navbar-cover-mobile: 213px;
    --navbar-cover-screen: 60px;
    --navbar-height: 51px;
}

.scrollable-element {
    scrollbar-color: #dd507b;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 50px;
    border-color: #ea9ab2;
}

body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    background: #efcfe3;        /* color of the tracking area */
    }

body::-webkit-scrollbar-thumb{
    background-color: #dd507b;
}

h1, h2 {
    color: #dd507b;
}

/* start of nav bar */
.navbar {
    background-color: #efcfe3;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--navbar-height);
}

.navbar-ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 20px;

    margin-block-start: 0;
    margin-block-end: 0;
}

li a {
    display: inline;
    color: gray;
    text-align: center;
    text-decoration: none;
}

li a:hover {
    border-bottom: 2px solid #dd507b;
    background-color: #ea9ab2;
    color: white;
    transition: 0.3s;
}
    
li a:active {
    background-color: #ea9ab2;
}

#active-page {
    background-color: #dd507b;
    color: white;
}

/* end of nav bar */

.italic {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

table {
    width: 100%;
    border-spacing: 5px;
}

div {
    margin-bottom: 5px;
}

@media(max-width: 576px) {      /* for mobile */
    .content {
        margin-top: var(--navbar-cover-mobile);
        margin-left: 10px;
        margin-right: 10px;
    }

    .navbar {
        background-color: #efcfe3;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: var(--navbar-cover-mobile);
    }
    
    .navbar-ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 22px;
        
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 100%;
    }

    li a {
        display: block;
    }

    .navbar-li {
        display: inline;
        padding: 9px 18px;
    }
}

@media (min-width: 576px) {
    .content {
        margin-top: var(--navbar-cover-screen);
    }

    .navbar-li {
        display: inline;
        padding: 14px 9px;
    }

}
    