img {
    width: 300px;
}

.img1 {
    grid-area: img1;
}

.img2 {
    grid-area: img2;
}

.img3 {
    grid-area: img3;
}

@media (max-width: 576px) {
    .grid-container {
        display: grid;
        grid-column-gap: 10px;
        grid-template-areas: 
        "img1"
        "img2"
        "img3";
    }
}

@media (min-width: 576px) {
    .grid-container {
        display: grid;
        grid-column-gap: 10px;
        grid-template-areas: 
        "img1 img2 img3";
    }
}